*{
    font-family: 'Roboto';
	margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
  overflow: hidden;
  background-color: #16124d;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #d1cfcf;
  color: white;
}

.active{
    color: red;
}

.circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d1cfcf;
  position: relative;
  overflow: hidden;
}

.center {
  	margin: 0;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.footer{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	position: absolute;
	background-color: #c9c9c9;
	border-top: 2px solid #9b9a9c;
}

.footer-text{
	font-size: 15px;
	color: white;
	margin: 0;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.footer-text a{
	color: white;
	font-size: 15px;
	text-decoration: underline;
}

