body {
  margin: 0;
  font-size: 16px;
  line-height: 1.625;
  color: #000000;
  font-family: "Schibsted Grotesk";
}

#particles-js {
    width: 100%;
    height: 100vh;
}

#main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  border: solid black 1.5px;
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  display: inline-block;
  vertical-align: middle;
}

#headshot img {
  transition: transform .5s;
  padding-top: 20px;
  padding-left: 5px;
  width: 100%;
}

#headshot img:hover {
  transform: scale(1.15);
}

#footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: solid black 1.5px;
  font-size: 13.5px;
}

#footer a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  #footer {
    font-size: 10px;
  }
  #headshot {
	width: 100px;
	height: 100px;
  }
  h2 {
	font-size: 15px;
  }
  p {
	font-size: 8px;
  }
}
